body {
    text-align: center;
    background-image: url("assets/artem-stoliar-CF-2tl6MQj0-unsplash.jpg");
    background-size: cover;
    color: white;
    backdrop-filter: blur(8px);
}

.shortcut {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.searchbar {
    background: dimgray;
    color: white;
    border-radius: 15px;
    border: 1px solid #494949;
    padding: 10px;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

p {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
}